<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Minha Página</title>
        <meta charset="utf-8">
        <meta name="author" content="Hermes Barbosa Pereira">
        <meta name="descrition" content="Um pouco do início do meu aprendizado">
    </head>
    <body>
        <h1>Praticando HTML</h1>
        <hr>
        <h2>LINKS EM HTML</h2>
        <p>
            Os links são utilizados por meio da tag &lt;a&gt;. A letra "a" vem
            de "anchor", que traduzindo significa âncora.
        </p>
        <p>
            Dentro dessa tag, utilizamos os seguintes atributos:
        </p>
        <ul>
            <li>
                <b>href="https://google.com":</b> Direciona a aba para o 
                endereço: https://google.com. A expressão "href" significa 
                "Hypertext Reference", que indica a referência de hipertexto.
            </li>
            <li>
                <b>target="_blank":</b> Informa que o endereço do link
                deve ser aberto em uma nova aba
            </li>
        </ul>
        <p>Exemplos:</p>
        <ul>
            <li>
                <p><a href="https://google.com" target="_blank">LINK</a> do google</p>
            </li>
            <li>
                <p><a href="https://www.w3schools.com/html">LINK</a> da w3schools</p>
            </li>
        </ul>
        <hr>
        <h2>IMAGENS EM HMTL</h2>
        <img src="/img/camaro.jpg" width="250" alt="camaro amarelo">
        <hr>
        <h2>OUTROS</h2>
        <p>
            Observe um texto em código de computador:
            <br>
            <code>
                Código de computador
            </code>
        </p>
    </body>
</html>