<!DOCTYPE html>
<html>
    <head>
        <title>Minha Página</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Quem Sou Eu: Uma Breve Biografia</h1>
        <hr>
        <h2>1. Introdução</h2>
        <p>Apresentação Inicial:</p>
        <ul>
            <li>Nome: Hermes Barbosa</li>
            <li>Idade: 19 anos (nascido em 08/12/2004)</li>
            <li>Local de Nascimento: São Luís - Maranhão</li>
        </ul>
        <p>Propósito do artigo:</p>
        <ul>
            <li>Estou realizando esse artigo com o objetivo de praticar
                meus conhecimentos aprendidos no curso de desenvolvedor
                web FullStack. 
            </li>
            <li>
                Espero que os leitores desse arquivo possam me conhecer melhor,
                entender um pouco da minha visão de vida e agregar o que acharem
                importantes para si.
            </li>
        </ul>
        <hr>
        <h2>2. Primeiros anos</h2>
        <p>Infância:</p>
        <ul>
            <li>Após cerca de um mês de nascido, meus pais decidiram
                se mudar para Belém do Pará, onde nasceu meu irmão,
                Geordes.
            </li>
            <li>Lá cresci e aprendi as primeiras lições como criança.</li>
        </ul>
        <p>Educação Inicial:</p>
        <li>Como minha mãe sempre foi professora e gostou de ensinar, apesar
            de não ter faculdade, foi ela quem me ensinou os primeiros conteúdos
            escolares, como leitura e escrita.
        </li>
    </body>
</html>