<!DOCTYPE html>
<html>
    <head>
        <title>Minha Página</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Quem Sou Eu: Uma Breve Biografia</h1>
        <hr>
        <h2>1. Introdução</h2>
        <p><i>"Se um dia eu enxerguei mais longe,
            foi porque estive sobre ombros de gigantes."
            - Isaac Newton
        </i></p>
        <ul>
            <li>
                Me chamo Hermes, tenho 19 anos e com certeza a frase
                acima não é pra dizer que tive grades ideias ou visões,
                mas sim pra mostrar a gênialidade dela e de seu autor.
            </li>
            <li>
                Sou apaixonado por matemática, música e programação.
                Fan de grandes ideias e daqueles que se propoem a pensar,
                criar e que também amam o conhecimento. Busco ser o melhor
                no que faço. Não melhor que os outros, mas melhor que eu mesmo.
            </li>
        </ul>
        <hr>
        <h2>2. Infância e Primeiros Anos</h2>
        <ul>
            <li><strong>Nascimento:</strong>
                Nasci no entardecer de uma quarta-feira, na data de 08/12/2004, em São Luís
                do Maranhão.
            </li>
            <li><strong>Família:</strong>
                Ainda recém-nascido, após cerca de 1 mês, me mudei de São Luís para
                Belém do Pará, junto com minha mãe e pai. Lá nasceu, pouco menos de 2
                anos depois, meu irmão mais novo, Geordes.
            </li>
            <li>
                Desde então sempre fui muito enérgico. Minha mãe me disse
                que eu passava o tempo todo rindo quando criança, não parava de brincar.
            </li>
        </ul>
        <hr>
        <h2>3. Adolescência</h2>
        <p>Dizem por aí que a adolescência é uma das fases mais complicadas
            da vida. Adolescentes não, <i>aborrecentes</i>, isso sim.
        </p>
        <ul>
            <li><strong>Educação:</strong>
                Ainda antes da faculdade, minha mãe era professora e sempre gostou
                de ensinar. Foi ela quem me passou os primeiros conteúdos escolares,
                como leitura e escrita.
            </li>
            <li><strong>Hobbies:</strong>
                Com 7 anos, comecei minha história com a música. Sem professor mesmo.
                Em casa tínhamos um teclado simples, mas que tinha algumas funcionalidades
                de ensinar músicas pelo visor. Com curiosidade, eu ia testando, tocando e
                conhecendo os botões. A partir daí essa paixão foi só crescendo, e hoje sou
                um viciado não só em piano, mas violino, viola, cello, violão, trompete e outros
                instrumentos de Orquestra.
            </li>
            <li><strong>Desafios e Superação:</strong>
                De modo geral, minha adolescência foi comum, agi de maneira esperada de
                um adolescente inexperiente. Às vezes era rebelde, às vezes falava sem
                pensar, muita merda fazia com certeza. Olho para trás, e penso: "Misericórdia,
                que merda que eu tinha na cabeça??". Mas claro, não me arrependo de nada.
                Tudo que o Hermes do passado fez, colaborou para a formação do Hermes de hoje.
            </li>
        </ul>
        <hr>
        <h2>4. Transição Para a Vida Adulta</h2>
        <ul>
            <li><strong>Conquistas:</strong>
                Até agora, ainda não tive conquistas que poderiamos classificar
                como incríveis ou até mesmo ideais. Mas acredito que mais importante
                do que os resultados atuais, é a trajetória apontada por minhas ações.
            </li>
            <li><strong>Metas e Objetivos:</strong>
                Entre meus desejos mais profundos estão: me realizar profissionalmente,
                concluir um doutorado, me casar e formar uma família, montar e administrar
                meu próprio negócio, crescer como um instrumento nas mãos de Deus.
            </li>
        </ul>
        <hr>
        <h2>5. Quem Você é Hoje</h2>
        <p>Parágrafo.</p>
        <ul>
            <li><strong>Valores e Crenças:</strong>
                Meus valores centrais são crescimento, compromisso, qualidade. acredito
                fortemente ...
            </li>
            <li><strong>Personalidade:</strong>
                Sou conhecido por ser animado, engenhoso e lógico. Possuo como perfil principal
                o analítico e como secundário o dominante.
            </li>
            <li><strong>Relações e Amizades:</strong>
                Meus amigos são predominantemente músicos e religiosos, com
            </li>
        </ul>
    </body>
</html>