<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meu Projeto com JavaScript</title>
        <script src="/../static/main.js"></script>
    </head>
    <body>
        <h1>Olá, Mundo!</h1>
        <p id="demo">Está é minha página para testes com JavaScript</p>
        <button type="button" onclick="alterarConteudo()">Alterar conteúdo</button>

        <hr>
        <h2>Título</h2>

        <p>Calcular soma (5+6) com <code>write</code></p>
        <button type="button" onclick="testarSoma()">Click me!</button>

        <p>Calcular soma (5+6) com <code>alert</code></p>
        <button type="button" onclick="somaEmAlerta()">Click me!</button>

        <p>Calcular soma (5+6) com <code>console.log()</code> (necessita abrir a aba inspecionar e abrir console)</p>
        <button type="button" onclick="somaNoConsole()">Click me!</button>

        <p>Imprimir página atual:</p>
        <button type="button" onclick="imprimirPagina()">Click me!</button>
    </body>
</html>